<%- include header %>

<form method="post">

name:      <input type="text"      name = "name"><br/>
pwd:       <input type="password"  name = "password"/><br/>
pwd-repeat:<input type="password"  name = "password-repeat"/><br/>
email:     <input type='email'     name = 'email'/><br/>
           <input type="submit"   value = "register">
 
</form>

<%- include footer %>